html,
body {
  margin: 0;
  padding: 0;
  border: 0;
    background-color: black;
}


.grid-container {
    display: grid;
    grid-template-rows: 1fr 4fr 4fr 4fr 1fr;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    height: 160vh;
    margin: 0 auto;
    grid-gap: 2%;
    padding-top: 10%;
}

header{
    grid-row: 1/2;
    grid-column: 1/11;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_card {
    grid-row: 2/3;
    grid-column: 3/9;
    background-color: #FAEBD7;
    box-shadow: 4px 8px rgb(90, 90, 0);
}

    .contact_info {
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(90, 90, 0);
    text-decoration: underline;
    }

    .address_title {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 5%;
    color: rgb(90, 90, 0);
    }

    .phone_title {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 5%;
    color: rgb(90, 90, 0);
    }

    .email_title {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 5%;
    color: rgb(90, 90, 0);
    }

    p {
    margin-left: 5%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(90, 90, 0); 
    font-size: small;
    }

.container {
    grid-row: 3/4;
    grid-column: 2/10;
    background-color: #FAEBD7;
    place-items: center;
    box-shadow: 4px 8px rgb(90, 90, 0);
}

    h2 {
        text-align: center;
            font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(90, 90, 0);
    }

    .name{
    margin: 5%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(90, 90, 0);
    }

    .email {
    margin: 5%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(90, 90, 0);
    }

    .message {
    margin: 5%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(90, 90, 0);
    }

    input {
            font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(90, 90, 0);
    }

    textarea {
            font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(90, 90, 0);
    }

    .button {
        margin: 5%;
    }

    .name input:hover,
    .email input:hover,
    .name input:focus, 
    .email input:focus {
        border-color: saddlebrown;
        outline: none;
    }

        .button button {
        width: 85%;
        padding: 2%;
        margin: 6% 6.5% 1% 6.5%;
        border:none;
        color:#FAEBD7;
        background-color: rgb(90, 90, 0);
        font-size: 90%;
        position: relative; 
        overflow: hidden; 
        z-index: 1; 
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        transition: color, background-color 0.5s ease-in-out;
    }

    .button button:hover,
    .button button:focus
    .button button:focus-within {
        background-color: saddlebrown;
    }

.image_contact {
    grid-row: 4/5;
    grid-column: 1/11;
}


    .contact_image {
    object-fit: cover; 
    width: 100%;
    height:100%;
    overflow: hidden;
    }


footer {
    grid-row: 5/6;
    grid-column: 1/11;
background-color: black;
    display: grid; /* Makes the footer a grid container */
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr; /* Creates two equal columns */
}

.contact {
    grid-row: 1/2;
    grid-column: 1/2; /* Positions this item in the FIRST column */
    /* Add padding/margin to give it space */
    margin-top: 8%;
}



    .address_info_f,
    .phone_info_f,
    .email_info_f {
        color: #FAEBD7;  
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight:lighter;
        font-style: normal;
        margin-left: 8%;  
        font-size: x-small;
    }

.f_logo h2 {
    grid-row: 1/2;
    grid-column: 2/3; /* Positions this item in the SECOND column */
    /* Add padding/margin to give it space */
    color: #FAEBD7;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 5%;
    margin-right: 5%;
}


a:active,
a:hover {
  outline: 0;
}

@font-face {
  font-family: "responsivenav";
  src: url("../icons/responsivenav.eot");
  src: url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #FAEBD7; /* edit this to change the icon color */
  font: normal 28px/55px "responsivenav"; /* edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* hamburger icon */
  text-indent: 0;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* X/close icon */
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: flex-end;
}

.nav-collapse li {

  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

header {
    display: flex;
    justify-content: space-between;
}


header .logo h2{
    color:#FAEBD7;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* 1. Target links inside the nav structure that is inside the header */
header .nav-collapse a {
    color: #FAEBD7; /* Forces the text to white */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* 2. Target links when the navigation is opened (usually on mobile) */
.nav-collapse.opened a {
    color: #FAEBD7; /* Ensures color when the menu is active */
}

.nav-collapse li > a:hover,
.nav-collapse li> a:focus,
.nav-collapse li > a:focus-within{
    color: black;  
    background-color: #FAEBD7 ;
    border-radius: 7%;
}



@media screen and (min-width: 700px) {
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  line-height: 55px;
  padding: 0 20px;
  color: black;
}

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: end;
}

.nav-collapse a {
  text-decoration: none;
  padding: 0.7em 1em;
  color: black;
  width: 100%;
  display: block;
}

.nav-collapse ul ul a {
  padding-left: 2em;
}

@media screen and (min-width: 768px) {
  .nav-collapse ul {
  flex-direction: row;
  align-items: flex-end;
}
  
  .nav-collapse li {
    width: auto;
  }

  .nav-collapse a {
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    margin: 0;
  }

  .nav-collapse ul ul a {
    display: none;
  }

  .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }


}

@media screen and (min-width:800px) {
    .grid-container{
        grid-template-rows: 1fr 4fr 4fr 1fr;
        height: 100vh;
        padding-top: 8%;
    }

    .contact_card {
        grid-row: 2/3;
        grid-column: 2/6;
    }

    .contact_card p {
        font-size: medium;
    }
    .contact_card h3 {
        font-size: x-large;
    }

    .container {
        grid-row: 2/3;
        grid-column: 6/10;
    }

    .container h2 {
        font-size: x-large;
    }

    label {
        font-size: large;
    }

    input {
        padding: 2%;
    }

    .button button {
        padding:5%;
        font-size: large;
    }

.f_logo {
    text-align: end;
    margin: none;
}

.contact p {
    font-size: small;
}

.contact {
    margin-bottom: 2%;
}
}