html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 2fr 3fr 3fr 3fr 1fr;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    height: 160vh;
    margin: 0 auto;
    grid-gap: 2%;
}

header {
    grid-row: 1/2;
    grid-column: 1/11;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

    header .logo h2 {
        color: #FAEBD7;
    }

    .drinks_title {
    grid-row: 2/3;
    grid-column: 2/10;
    border-color: #FAEBD7;
    border-width: 5%;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .drinks {
    color: #FAEBD7;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img1 {
    grid-row: 3/4;
    grid-column: 2/6;
    position: relative; 
    overflow: hidden; 
}

    .drink1 {
        object-fit: cover; 
        width: 100%;
        height: 100%;
        transition: transform 0.4s ease; 
    }

    .overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        z-index: 2; 
        opacity: 0; 
        transition: opacity 0.4s ease; 
        color: black; 
        text-align: center;
    }

    .img1::before {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; 
        background-color: #FAEBD7;
        opacity: 0; 
        transition: opacity 0.4s ease; 
    }

    .img1:hover .overlay-text,
    .img1:focus-within .overlay-text {
        opacity: 1;
    }

    .img1:hover::before,
    .img1:focus-within::before {
        opacity: 0.9; 
    }

    .img1:hover .drink1 {
        transform: scale(1.05);
    }


.img2 {
    grid-row: 3/4;
    grid-column: 6/10;
    position: relative; 
    overflow: hidden; 
}

    .drink2 {
        object-fit: cover; 
        width: 100%;
        height: 100%;
        transition: transform 0.4s ease; 
    }

    .overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        z-index: 2; 
        opacity: 0; 
        transition: opacity 0.4s ease; 
        color: black; 
        text-align: center;
    }

    .img2::before {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; 
        background-color: #FAEBD7;
        opacity: 0; 
        transition: opacity 0.4s ease; 
    }

    .img2:hover .overlay-text,
    .img2:focus-within .overlay-text {
        opacity: 1;
    }

    .img2:hover::before,
    .img2:focus-within::before {
        opacity: 0.9; 
    }

    .img2:hover .drink2 {
        transform: scale(1.05);
    }


.img3 {
    grid-row: 4/5;
    grid-column: 2/6;
    position: relative; 
    overflow: hidden; 
}

    .drink3 {
        object-fit: cover; 
        width: 100%;
        height: 100%;
        transition: transform 0.4s ease; 
    }

    .overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        z-index: 2; 
        opacity: 0; 
        transition: opacity 0.4s ease; 
        color: black; 
        text-align: center;
    }

    .img3::before {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; 
        background-color: #FAEBD7;
        opacity: 0; 
        transition: opacity 0.4s ease; 
    }

    .img3:hover .overlay-text,
    .img3:focus-within .overlay-text {
        opacity: 1;
    }

    .img3:hover::before,
    .img3:focus-within::before {
        opacity: 0.9; 
    }

    .img3:hover .drink3 {
        transform: scale(1.05);
    }


.img4 {
    grid-row: 4/5;
    grid-column: 6/10;
    position: relative; 
    overflow: hidden; 
}

    .drink4 {
        object-fit: cover; 
        width: 100%;
        height: 100%;
        transition: transform 0.4s ease; 
    }

    .overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        z-index: 2; 
        opacity: 0; 
        transition: opacity 0.4s ease; 
        color: black; 
        text-align: center;
    }

    .img4::before {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; 
        background-color: #FAEBD7;
        opacity: 0; 
        transition: opacity 0.4s ease; 
    }

    .img4:hover .overlay-text,
    .img4:focus-within .overlay-text {
        opacity: 1;
    }

    .img4:hover::before,
    .img4:focus-within::before {
        opacity: 0.9; 
    }

    .img4:hover .drink4 {
        transform: scale(1.05);
    }

.img5 {
    grid-row: 5/6;
    grid-column: 2/6;
    position: relative; 
    overflow: hidden; 
}

    .drink5 {
        object-fit: cover; 
        width: 100%;
        height: 100%;
        transition: transform 0.4s ease; 
    }

    .overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        z-index: 2; 
        opacity: 0; 
        transition: opacity 0.4s ease; 
        color: black; 
        text-align: center;
    }

    .img5::before {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; 
        background-color: #FAEBD7;
        opacity: 0; 
        transition: opacity 0.4s ease; 
    }

    .img5:hover .overlay-text,
    .img5:focus-within .overlay-text {
        opacity: 1;
    }

    .img5:hover::before,
    .img5:focus-within::before {
        opacity: 0.9; 
    }

    .img5:hover .drink5 {
        transform: scale(1.05);
    }

.img6 {
    grid-row: 5/6;
    grid-column: 6/10;
    position: relative; 
    overflow: hidden; 
}

    .drink6 {
        object-fit: cover; 
        width: 100%;
        height: 100%;
        transition: transform 0.4s ease; 
    }

    .overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        z-index: 2; 
        opacity: 0; 
        transition: opacity 0.4s ease; 
        color: black; 
        text-align: center;
    }

    .img6::before {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; 
        background-color: #FAEBD7;
        opacity: 0; 
        transition: opacity 0.4s ease; 
    }

    .img6:hover .overlay-text,
    .img6:focus-within .overlay-text {
        opacity: 1;
    }

    .img6:hover::before,
    .img6:focus-within::before {
        opacity: 0.9; 
    }

    .img6:hover .drink6 {
        transform: scale(1.05);
    }

    h2 {
    color: black;
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    }

    p {
        color: black;  
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: normal; 
        font-size: small;
        margin:2%;
    }

footer {
    grid-row: 6/7;
    grid-column: 1/11;
background-color: black;
    display: grid; /* Makes the footer a grid container */
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr; /* Creates two equal columns */
}

.contact {
    grid-row: 1/2;
    grid-column: 1/2; /* Positions this item in the FIRST column */
    /* Add padding/margin to give it space */
    margin-top: 8%;
}



    .address_info_f,
    .phone_info_f,
    .email_info_f {
        color: #FAEBD7;  
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight:lighter;
        font-style: normal;
        margin-left: 8%;  
        font-size: x-small;
    }

.f_logo {
    grid-row: 1/2;
    grid-column: 2/3; 
    color: #FAEBD7;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 5%;
    margin-right: 5%;
}

    .f_logo h2 {
        color: #FAEBD7;
    }


a:active,
a:hover {
  outline: 0;
}

@font-face {
  font-family: "responsivenav";
  src: url("../icons/responsivenav.eot");
  src: url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #FAEBD7; /* edit this to change the icon color */
  font: normal 28px/55px "responsivenav"; /* edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* hamburger icon */
  text-indent: 0;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* X/close icon */
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: flex-end;
}

.nav-collapse li {

  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

header {
    display: flex;
    justify-content: space-between;
}


header .logo {
    color:#FAEBD7;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* 1. Target links inside the nav structure that is inside the header */
header .nav-collapse a {
    color: #FAEBD7; /* Forces the text to white */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* 2. Target links when the navigation is opened (usually on mobile) */
.nav-collapse.opened a {
    color: #FAEBD7; /* Ensures color when the menu is active */
}

.nav-collapse li > a:hover,
.nav-collapse li> a:focus,
.nav-collapse li > a:focus-within{
    color: black;  
    background-color: #FAEBD7 ;
    border-radius: 7%;
}

@media screen and (min-width: 700px) {
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  line-height: 55px;
  padding: 0 20px;
  color: black;
}

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: end;
}

.nav-collapse a {
  text-decoration: none;
  padding: 0.7em 1em;
  color: black;
  width: 100%;
  display: block;
}

.nav-collapse ul ul a {
  padding-left: 2em;
}

@media screen and (min-width: 768px) {
  .nav-collapse ul {
  flex-direction: row;
  align-items: flex-end;
}
  
  .nav-collapse li {
    width: auto;
  }

  .nav-collapse a {
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    margin: 0;
  }

  .nav-collapse ul ul a {
    display: none;
  }

  .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }

  .f_logo {
    text-align: end;
    margin: none;
}

.contact p {
    font-size: small;
}

.contact {
    margin-bottom: 2%;
}
}